@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  display: flex;
  justify-content: center;
}
.app {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #b0cbcb;
  border: 1px solid #bad7d3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
}

.app-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.notifications-list {
  margin-top: 15px;
}

.notification {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clear-btn {
  background-color: #355cdc;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.clear-btn:hover {
  background-color: #041b67;
}

.clear-all-btn {
  background-color: #b30000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.clear-all-btn:hover {
  background-color: #840202;
}
